body
{
background-image: url('https://clubdelavenir.files.wordpress.com/2016/07/image-tache-peinture.png?w=825'), url("https://wallpaperscraft.com/image/earth_moon_space_galaxy_118437_1920x1200.jpg");
  background-position: right bottom, left top;
  background-repeat: repeat;
}


#logo
{
padding-right: 30px;
}

a.nav-link:hover
{
background-color: rgba(58, 16, 107, 0.5);
border-radius: 15px;
}

.nav-link
{
font-family: 'Cute Font', cursive !important;
font-size: 1.7em;
color: #470e70 !important;
}


h1, h2
{
  font-family: 'Cute Font', cursive !important;
font-size: 4em !important;
color: white !important;
}

p
{
font-family: 'Cute Font', cursive !important;
font-size: 2em !important;
color: black !important;
}

.quote
{
font-family: 'Cute Font', cursive !important;
font-size: 2em !important;
color: black !important;
padding: 10px;
}

label
{
font-family: 'Cute Font', cursive !important;
font-size: 2em !important;
color: white !important;
}

#container
{
background-color: rgba(151, 138, 242, 0.8);
padding: 2%;
}

.versus{
text-align: center;
}

#avatar
{
float: left;
margin: 20px;
}

#table-wallet {
    width: 5%;
    float: left;
}

#wallet.form-control
{
    width: 9%;
}

footer
{
background-color : black;
color: white !important;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
font-size: 1em;
}