body
{
background-image: url('https://wallpaperscraft.com/image/earth_moon_space_galaxy_118437_1680x1050.jpg');
}

h1, h2, p
{
font-family: 'Cute Font', cursive !important;
font-size: 4em !important;
color: white !important;
}

#container
{
background-color: rgba(151, 138, 242, 0.3);
padding-left: 2%;
padding-right: 2%;
}
